<ion-header>
  <ion-toolbar>
    <ion-title>Região Centro-Sul Fluminense</ion-title>
    <ion-buttons slot="end">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-button routerLink="/menu-turismo">
           Voltar
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/reg-centrosul.jpg">

  <div class="ion-text-center">
    <h3>Sobre</h3>
    Atualmente, a região é composta pelos seguintes municípios: Areal, Comendador Levy Gasparian, Engenheiro Paulo de Frontin, Mendes, Miguel Pereira, Paracambi, Paraíba do Sul, Paty do Alferes, Sapucaia, Três Rios e Vassouras.
   <p>Teste</p>
 </div>
 
</ion-content>
