<ion-header>
  <ion-toolbar>
    <ion-title>Região Norte Fluminense</ion-title>
    <ion-buttons slot="end">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-button routerLink="/menu-turismo">
           Voltar
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="/assets/img/reg-norteflu.jpg">

  <div class="ion-text-center">
    <h3>text-center</h3>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
   <p>Teste</p>
 </div>

</ion-content>
