<ion-header>
  <ion-toolbar>
    <ion-title>Região da Costa Verde.</ion-title>
    <ion-buttons slot="end">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-button routerLink="/menu-turismo">
           Voltar
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <img src="assets/img/reg-costaverde.jpg">

  <p>
    #1 Praia Brava. ...
    #2 Praia Muriqui. ...
    #3 Praia da Paciência. ...
    #4 Praia Mangaratiba. ...
    #5 Praia do Saí e Saizinho. ...
    #6 Praia Ibicuí ...
    #7 Praia Grande.
  </p>
<ion-content>
 
      
  <div class="ion-text-center">
     <h3>Sobre</h3>
     Costa Verde é uma faixa de terra que vai do litoral sul do estado brasileiro do Rio de Janeiro até o norte do litoral do estado de São Paulo. Engloba os municípios de Mangaratiba, Angra dos Reis, Itaguaí e Paraty no estado do Rio de Janeiro e Ubatuba, Caraguatatuba, São Sebastião e Ilhabela no estado de São Paulo.
    <p>Teste</p>
  </div>
        
       
</ion-content>
