<ion-header>
  <ion-toolbar>
    <ion-title>Região Serrana.</ion-title>
    <ion-buttons slot="end">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-button routerLink="/menu-turismo">
           Voltar
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="/assets/img/reg-serrana.jpg" >

  <div class="ion-text-center">
    <h3>Sobre</h3>
    Nova Friburgo, o charme suíço. Além do seu clima frio, a cidade, localizada a 140 km da cidade do Rio de Janeiro, oferece diversas opções de lazer e esportes radicais. ...
    Guapimirim, a Serra Verde Imperial. ...
    Petrópolis, a Cidade Imperial. ...
    Teresópolis, o destino romântico.
   <p>Teste</p>
 </div>

 
</ion-content>
