<ion-header>
  <ion-toolbar>
    <ion-title>Região Noroeste Fluminense.</ion-title>
    <ion-buttons slot="end">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-button routerLink="/menu-turismo">
           Voltar
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="/assets/img/reg-noroesteflu.jpg">

  <div class="ion-text-center">
    <h3>Sobre</h3>
    São eles Campos dos Goytacazes, Cardoso Moreira, São Fidélis, São Francisco de Itabapoana, São João da Barra, Carapebus, Conceição de Macabu, Macaé e Quissamã, do norte fluminense; e Itaperuna, Bom Jesus do Itabapoana, Italva, Laje do Muriaé, Natividade, Porciúncula, Varre-Sai, Santo Antônio de Pádua, Aperibé...
   <p>Teste</p>
 </div>
  
</ion-content>
