<ion-header>
  <ion-toolbar>
    <ion-title>Região das Baixadas Litorâneas</ion-title>
    <ion-buttons slot="end">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-button routerLink="/menu-turismo">
           Voltar
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/reg-baixadalit.jpg">
  
  <div class="ion-text-center">
    <h3>Sobre</h3>
   LO turismo apresenta-se como importante atividade econômica no estado do Rio de Janeiro, tendo na região das Baixadas Litorâneas importante recorte espacial no que tange a seu desenvolvimento, especialmente a partir da década de 1970. Neste contexto, apresentamos como objetivo principal da presente pesquisa compreender o processo de inserção do turismo nos municípios de Armação dos Búzios, Casimiro de Abreu e Saquarema, evidenciando os elementos da paisagem valorizados e vendidos externamente a partir de cartões postais e da internet. Para tanto, a metodologia consiste no levantamento bibliográfico acerca de temáticas e conceitos relevantes, bem como a aquisição de informações referentes ao turismo, como classificações e campanhas realizadas por órgãos federais, estaduais e municipais; e na busca de recortes paisagísticos propagados através da internet.

   <p>Teste</p>
 </div>

</ion-content>

